.container {
  background: transparent;
  position: relative;
  width: 90vw;
  height: 100vh;
}
.particles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;

  li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    // background: rgba(255, 255, 255, 0.2);
    opacity: 0.25;
    -webkit-animation: animate 60s linear infinite;
    animation: animate 60s linear infinite;
    bottom: -150px;
    border-radius: 45%;

    &:nth-child(1) {
      left: 25%;
      width: 60px;
      height: 60px;
      -webkit-animation-delay: 0s;
      animation-delay: 18s;
      background: #f25f5c;
    }
    &:nth-child(2) {
      left: 10%;
      width: 50px;
      height: 50px;
      -webkit-animation-delay: 4s;
      animation-delay: 4s;
      -webkit-animation-duration: 38s;
      animation-duration: 38s;
      background: #ffe066;
    }
    &:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      -webkit-animation-delay: 8s;
      animation-delay: 8s;
      background: #247ba0;
    }
    &:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-duration: 36s;
      animation-duration: 36s;
      background: #70c1b3;
    }
    &:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      background: #50514f;
    }
    &:nth-child(6) {
      left: 75%;
      width: 70px;
      height: 70px;
      -webkit-animation-delay: 14s;
      animation-delay: 14s;
      background: #f25f5c;
    }
    &:nth-child(7) {
      left: 35%;
      width: 30px;
      height: 30px;
      -webkit-animation-delay: 14s;
      animation-delay: 14s;
      background: #ffe066;
    }
    &:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      -webkit-animation-delay: 30s;
      animation-delay: 30s;
      -webkit-animation-duration: 90s;
      animation-duration: 90s;
      background: #247ba0;
    }
    &:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      -webkit-animation-delay: 4s;
      animation-delay: 4s;
      -webkit-animation-duration: 70s;
      animation-duration: 70s;
      background: #70c1b3;
    }
    &:nth-child(10) {
      left: 85%;
      width: 50px;
      height: 50px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-duration: 58s;
      animation-duration: 58s;
      background: #50514f;
    }
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    // opacity: 1;
    // border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    // opacity: 0;
    // border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    // opacity: 1;
    // border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    // opacity: 0;
    // border-radius: 50%;
  }
}
