@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@media screen and (min-width: 451px) {
  .mainRoot {
    background-image: linear-gradient(red, yellow);
    display: flex;
    overflow-x: hidden;
    font-size: large;
    /* justify-content: space-around; */
  }

  #inPgNav {
    margin-block: 20px;
    padding-block: 5px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #inPgNavBtn {
    margin: 10px;
    display: inline;
  }
  #newsImgDiv {
    display: flex;
    justify-content: center;
    margin-block: 5px;
  }

  #contentDiv {
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin-block: 1rem;
    max-width: 300px;
  }

  #circContentDiv {
    text-align: center;
    padding: 1rem;
    margin-block: 1rem;
    max-width: 18rem;
    height: 18rem;
    border-radius: 18rem;
    padding-top: 4rem;
  }

  #contentHead {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
  }

  #contentBody {
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
}

@media screen and (max-width: 450px) {
  .mainRoot {
    display: flex;
    overflow-x: hidden;
    /* justify-content: space-around; */
    /* align-items: center; */
    margin-left: auto;
    font-size: small;
    /* object-fit: cover; */
    /* background-image: linear-gradient(magenta, rgb(101, 29, 101)); */
    /* background-image: radial-gradient(rgb(0, 229, 255), rgb(0, 21, 255)); */
    /* background-color: rgb(174, 255, 240); */
    z-index: 1;
    position: absolute;
  }

  #homeRoot {
    background-color: rgb(174, 255, 240);
  }

  #inPgNav {
    margin-block: 20px;
    padding-block: 5px;
    overflow: auto;
    white-space: nowrap;
    max-width: 99%;
    justify-content: center;
  }

  #inPgNavContainer {
    width: 100%;
  }

  #inPgNavBtn {
    margin: 5px;
    display: inline;
  }
  #newsImgDiv {
    display: flex;
    justify-content: center;
    margin-block: 5px;
    object-fit: contain;
  }

  #contentDiv {
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin-block: 1rem;
    min-width: 100%;
    top: 10px;
  }

  #circContentDiv {
    text-align: center;
    padding: 1rem;
    margin-block: 1rem;
    max-width: 18rem;
    height: 18rem;
    border-radius: 18rem;
    padding-top: 4rem;
  }

  #contentHead {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
  }

  #contentBody {
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }
}
